
/********PAGE GALERIA******/
.section_gallery {
    margin: 20px auto 0px auto;
    padding: 20px 0;
    border-radius: 6px;
    max-width: 1400px;
}

.gallery{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 20px auto;
    height: auto;
}

.contenedor_galeria {
    display: block;
    text-align: center;
}

.img_galeria{
    width: 180px;
    height: 120px;
    display: inline-block;
    margin: 4px 4px;
    object-fit: cover;
    box-shadow: 0 0 6px $secondColorText;
    cursor: pointer;
}

.imagen_light{
    position: fixed;
    background: rgba(0,0,0,0.836);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    transform: translate(100%);
    transition: transform .4s ease-in-out;
    justify-content: center;
    align-items: center;
}

.show{
    transform: translate(0);
}

.agregar_imagen{
    width: 80%;
    border-radius: 10px;
    transform: scale();
    object-fit: cover;
    transition: transfom .3 .1;
}

.show_image{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 16px;
    width: 50px;
    cursor: pointer;
    z-index: 1;
    right: 30px;
}

@media screen and (max-width: 940px){
    .lef_inform {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .gallery {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    .contenedor_galeria {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 404px){
    .img_galeria {
        width: 150px;
    }
}
@media screen and (max-width: 340px){
    .img_galeria {
        width: 110px;
        height: 100px;
    }
}