
$colorOrangeGeneral: #ff4200;
$colorRoomsContainer: #ffffff;
$colorText: #ffffff;
$secondColorText: #4a4a4a;
$textWhite: #ffffff;
$colorForOffert: #e30000;
$devBackgroundColor: #0a1824;
$footHeaderColor: #080a12;
$typeFontfamilyFormal: sans-serif;
$typeTwoFontFamily: 'Fjalla One', sans-serif;
$borderColor: #bdbdbd;